.logo {
  position: absolute;
  top: 5%;
  left: 5%;
  font-weight: 900; }

.container {
  width: 100%;
  height: 100%; }

.block {
  width: 100%;
  cursor: pointer;
  background-image: url(../images/face/1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-attachment: fixed;
  transition: height 100ms ease-in-out; }

.ui-page {
  height: 100%; }

#LOB {
  height: 37.3%; }

#EYES {
  height: 19.6%; }

#NOSE {
  height: 10%; }

#MOUTH {
  height: 13%; }

#CHIN {
  height: 20%; }

.loader {
  display: none;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0; }

.block.actived {
  height: 100% !important; }

.block.hidden {
  height: 0 !important; }

.block h1 {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 20%;
  opacity: 0;
  margin-left: -10%;
  transition: all 500ms ease-in-out; }

.block.actived h1 {
  opacity: 1;
  margin-left: 0; }

.swipe {
  border: 1px solid red; }

/*# sourceMappingURL=styles.css.map */
