//fonts
@import 'variables';
@import 'mixins';


.logo {
  text-align: center;
  margin: 40px 0 30px;
}

//  ------------- FEED -------------

.feed {

  //  ------------- Post -------------

  .post {

    //  ------------- FEED > Post > General -------------

    background: rgba(255,255,255,1);
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(56,55,72,.1);
    margin: 0 8px 10px;
    overflow: hidden;

    // -------------  FEED > Post > User -------------

    .user {
      margin: 16px 20px 12px;
      height: 44px;
      position: relative;

      .userpic {
        width: 44px;
        height: 44px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        text-align: center;

        img {
          min-width: 44px;
          max-height: 44px;
        }
      }

      .author {
        margin-left: 58px;
        padding-top: 3px;
        font-weight: 500;
        font-size: 15px;

        .originalName {
          display: block;
          font-size: 17px;
          line-height: 20px;
        }

        .penName {
          display: block;
          font-size: 15px;
          opacity: 0.2;
          line-height: 18px;
        }
      }

      .submenu {
        position: absolute;
        right: 0;
        top: 0;
      }

    }

    // ------------- FEED > Post > Content -------------

    .content {

      .line {
        @include iPhone_5 {
          font-size: 14px;
          height: 28px;
          line-height: 28px;
        }
        @include iPhone_6 {
          font-size: 17px;
          height: 32px;
          line-height: 32px;
        }
        @include iPhone_6plus {
          font-size: 19px;
          height: 36px;
          line-height: 36px;
        }

        margin: 0 20px;
        position: relative;

          .value {
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .counter {
            position: absolute;
            left: -15px;
            font-size: 8px;
            font-weight: 600;
            opacity: 0.16;
          }
        }
      }

      // ------------- FEED > Post > Controls -------------

      .controls {
        overflow: hidden;
        margin-top: 10px;
        height: 52px;
        width: 100%;
        border-top: 0.5px solid rgba(0,0,0,0.1);

          div {
            width: 33.3%;
            float: left;
            text-align: center;
          }

          .likes {

          }

          .reposts {

          }

          .share {

          }
      }

  }
}


// ------------- POST -------------

.wrapper {

  .content {

    .line {
      transition: all 200ms;
      background: rgba(0,0,0,0);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      &:active, &:hover {
        background: rgba(0,0,0,0.05);
      }
      @include iPhone_5 {
        font-size: 14px;
        height: 30px;
        line-height: 30px;
      }
      @include iPhone_6 {
        font-size: 17px;
        height: 35px;
        line-height: 35px;
      }
      @include iPhone_6plus {
        font-size: 19px;
        height: 40px;
        line-height: 44px;
      }

      margin: 0 20px;
      position: relative;

        .value {
          width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .counter {
          position: absolute;
          left: -15px;
          font-size: 8px;
          font-weight: 600;
          opacity: 0.16;
        }
      }
    }

}

//  ------------- TABBAR -------------

.tabbar {
  width: 100%;
  height: 49px;
  background: rgba(255, 255, 255, 0.95);
  border-top: 0.5px solid rgba(0,0,0,0.1);
  position: fixed;
  bottom: 0;
  z-index: 100;
  overflow: hidden;

  .tab {
    float: left;
    width: 20%;

      a {
        display: block;
        width: 100%;
        height: 50px;
        line-height: 200%;
        display: flex;
        align-items: center;
        justify-content: center;


      }
  }
}
