//fonts
@import 'variables'
@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700&subset=cyrillic'
@font-face
  font-family: "BebasBold"
  src: url("../fonts/BebasBold/BebasBold.eot")
  src: url("../fonts/BebasBold/BebasBold.eot?#iefix")format("embedded-opentype"), url("../fonts/BebasBold/BebasBold.woff") format("woff"), url("../fonts/BebasBold/BebasBold.ttf") format("truetype")
  font-style: normal
  font-weight: normal
@font-face
  font-family: "BebasRegular"
  src: url("../fonts/BebasBold/BebasRegular.eot")
  src: url("../fonts/BebasBold/BebasRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/BebasBold/BebasRegular.woff") format("woff"), url("../fonts/BebasBold/BebasRegular.ttf") format("truetype")
  font-style: normal
  font-weight: normal

body
  background-color: $c-dark
  font-family: $font-main

.popover
  width: 400px
  margin: 30px auto 0
  position: relative

.header
  background: $c-white
  border-radius: 4px 4px 0px 0px
  height: 60px
  position: relative

.header h1
  font-family: $font-title
  color: $c-black
  letter-spacing: 0.63px
  width: 75%
  margin: 0 auto
  padding: 18px 0 0
  text-align: center

.header .close
  display: block
  width: 13px
  height: 13px
  position: absolute
  top: 23px
  right: 21px
  overflow: hidden

.group_light
  background-color: $c-lightGray
  padding: 50px 12.5% 20px
  width: 75%

.group_dark
  background-color: $c-lightGray2
  padding: 50px 12.5% 20px
  width: 75%

.footer
  min-height: 20px
  background: $c-white
  border-radius: 0px 0px 4px 4px
  padding: 34px 50px 30px


//parent styles _______________________________________________________

.control
  min-height: 28px
  margin-bottom: 28px

.control .content
  width: 100%
  position: relative
  cursor: pointer

.control .content::before
  content: " "
  width: 100%
  height: 1px
  background: rgba(26,26,26,0.1)
  position: absolute
  z-index: 1
  bottom: -1px
  left: 0
  transition: $transition-normal

.control:hover .content::before
  height: 2px
  //background: $c-midGray

.content::after
  content: " "
  width: 0
  height: 2px
  position: absolute
  bottom: -1px
  left: 0
  z-index: 2
  transition: $transition-normal

.control label
  font-family: $font-title
  font-size: $f-small
  color: $c-darkGray
  letter-spacing: 0.9px
  display: block
  position: relative
  z-index: 2
  height: 12px
  cursor: pointer
  over
  transition: $transition-normal

.control.__empty label
  height: 38px
  padding-top: 17px
  margin-bottom: -43px
  font-size: $f-big

.control .tip
  font-size: $f-small
  color: #808080
  letter-spacing: 0px
  line-height: 15px
  margin-top: 4px

.__focus .content::after
  background: $c-blue !important
  width: 100%
.__focus label
  color: $c-blue

.__error .content::after
  background: $c-red !important
  width: 100%
.__error .tip
  color: $c-red

.__disabled
  label, input
    color: $c-midGray !important
    cursor: default
.__disabled:hover .content::before
  background: rgba(26,26,26,0.1) !important
  height: 1px !important

.control_icons
  position: absolute
  bottom: 6px
  right: 0

.control_icons .status
  width: 20px
  height: 20px
  overflow: hidden

.control_icons .dropdown
  width: 12px
  height: 10px
  overflow: hidden

.fader
  position: absolute
  width: 100%
  height: 100%
  background: rgba(50, 55, 58, 0.1)
  z-index: 100


//END of parent styles ________________________________________________


//components
@import 'components/input'
@import 'components/switchers'
@import 'components/buttons'
@import 'components/loaders'
@import 'components/select'
