$font-main:    'Roboto', sans-serif
$font-title: 'BebasBold', sans-serif

//colors
$c-dark: #212121
$c-lightGray: #FAFAFA
$c-lightGray2: #F2F2F2
$c-midGray: #d4cfcf
$c-darkGray: #969899
$c-white: #ffffff
$c-black: #000
$c-blue: #4793F6
$c-red: #F64848

//font-sizes
$f-default: 15px
$f-small: 12px
$f-big: 20px

//animation
$bezier-default: cubic-bezier(.25,.1,.25,1)
$transition-slow: all 300ms $bezier-default
$transition-normal: all 150ms $bezier-default
$transition-fast: all 80ms $bezier-default

//big components
.control-normal
  color: $c-black
  letter-spacing: -0.11px
  font-family: $font-main
  font-size: $f-default
  padding: 0
