.logo {
  text-align: center;
  margin: 40px 0 30px; }

.feed .post {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(56, 55, 72, 0.1);
  margin: 0 8px 10px;
  overflow: hidden; }
  .feed .post .user {
    margin: 16px 20px 12px;
    height: 44px;
    position: relative; }
    .feed .post .user .userpic {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      overflow: hidden;
      position: absolute;
      text-align: center; }
      .feed .post .user .userpic img {
        min-width: 44px;
        max-height: 44px; }
    .feed .post .user .author {
      margin-left: 58px;
      padding-top: 3px;
      font-weight: 500;
      font-size: 15px; }
      .feed .post .user .author .originalName {
        display: block;
        font-size: 17px;
        line-height: 20px; }
      .feed .post .user .author .penName {
        display: block;
        font-size: 15px;
        opacity: 0.2;
        line-height: 18px; }
    .feed .post .user .submenu {
      position: absolute;
      right: 0;
      top: 0; }
  .feed .post .content .line {
    margin: 0 20px;
    position: relative; }
    @media (min-width: 320px) {
      .feed .post .content .line {
        font-size: 14px;
        height: 28px;
        line-height: 28px; } }
    @media (min-width: 375px) {
      .feed .post .content .line {
        font-size: 17px;
        height: 32px;
        line-height: 32px; } }
    @media (min-width: 414px) {
      .feed .post .content .line {
        font-size: 19px;
        height: 36px;
        line-height: 36px; } }
    .feed .post .content .line .value {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .feed .post .content .line .counter {
      position: absolute;
      left: -15px;
      font-size: 8px;
      font-weight: 600;
      opacity: 0.16; }
  .feed .post .controls {
    overflow: hidden;
    margin-top: 10px;
    height: 52px;
    width: 100%;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1); }
    .feed .post .controls div {
      width: 33.3%;
      float: left;
      text-align: center; }

.wrapper .content .line {
  transition: all 200ms;
  background: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0 20px;
  position: relative; }
  .wrapper .content .line:active, .wrapper .content .line:hover {
    background: rgba(0, 0, 0, 0.05); }
  @media (min-width: 320px) {
    .wrapper .content .line {
      font-size: 14px;
      height: 30px;
      line-height: 30px; } }
  @media (min-width: 375px) {
    .wrapper .content .line {
      font-size: 17px;
      height: 35px;
      line-height: 35px; } }
  @media (min-width: 414px) {
    .wrapper .content .line {
      font-size: 19px;
      height: 40px;
      line-height: 44px; } }
  .wrapper .content .line .value {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .wrapper .content .line .counter {
    position: absolute;
    left: -15px;
    font-size: 8px;
    font-weight: 600;
    opacity: 0.16; }

.tabbar {
  width: 100%;
  height: 49px;
  background: rgba(255, 255, 255, 0.95);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  z-index: 100;
  overflow: hidden; }
  .tabbar .tab {
    float: left;
    width: 20%; }
    .tabbar .tab a {
      display: block;
      width: 100%;
      height: 50px;
      line-height: 200%;
      display: flex;
      align-items: center;
      justify-content: center; }

/*# sourceMappingURL=styles.css.map */
