//fonts
@import 'variables';
@import 'mixins';


body {
  background-color: #fff !important;
}

.Container, section, .Box {
  height: 100%;
}


// ------TYPO------


h1 {
  font-weight: 500;
  font-size: 30px;
  color: $Color-MainBlack;
  line-height: 36px;
  margin: 16px 0 8px;
  font-weight: 600;
}

h1 .Selector {
  color: $Color-MainGraphite;
}


.Box {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: #fff;
}

.Head {
  background: $Color-MainGray;
  padding: 24px 16px 16px;
  box-shadow: 0px 1px #E3E4E6;
  margin-bottom: 8px;
}

.Main {
  padding: 0 16px;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
}

.FooterWrapper {
  padding: 8px 16px;
  display: flex;
}

.Footer .Count {
  border: 1px solid #F2F2F2;
  min-width: 102px;
  height: 48px;
  text-align: center;
  line-height: 48px;
  border-radius: 8px;
  margin: 0 8px 0 0;
  font-size: 15px;
  color: $Color-DeepGray;
  font-weight: 600;
}

.PaymentType {
  margin-top: 32px;
}

.PaymentType h2 {
  font-weight: 600;
  font-size: 15px;
  color: #919399;
  line-height: 20px;
  margin: 0 0 8px;
}

.ChipsList {
  display: flex;
}

.Chips {
  font-size: 15px;
  color: $Color-MainBlack;
  text-align: center;
  line-height: 20px;
  padding: 6px 16px;
  background-color: $Color-MainGray;
  border-radius: 16px;
  margin-right: 16px;
  transition: all 200ms;
}

.ChipsActive {
  color: white;
  background-color: $Color-MainGraphite;
}

.Input {
  height: 56px;
  position: relative;
}

.Input * {
    transition: all 200ms;
}

.Input input {
  width: 100%;
  height: 31px;
  margin-top: 24px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #E3E4E6;
  //box-shadow: 0px 1px #E3E4E6;
  font-size: 15px;
  color: $Color-MainBlack;
  line-height: 20px;
  background: none;
  border-radius: 0 !important;
}

.Input label {
  position: absolute;
  bottom: 8px;
  font-weight: 500;
  line-height: 16px;
}

.Input-Default label {
  font-size: 15px;
  color: #919399;
}

.Input-Active label {
  font-size: 12px;
  color: #919399;
  bottom: 32px;
}

.Address {
  font-size: 15px;
  color: $Color-MainBlack;
  line-height: 20px;
}

.AdditionalAddress {
  display: flex;
  justify-content: space-between;
}
.AdditionalAddress .Input {
  width: 22%;
}
