@import 'variables';
@import 'mixins';

html {
  width: 100%;
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(241,240,240,1);
  font-size: $primary-font;
  font-weight: 300;
  font-family: "Roboto" !important;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

ul {
  margin: 0 !important;
  padding: 0;
}

li {
  list-style-type: none;
  padding-bottom: 0;
}

.hide {
  display: none;
  opacity: 0;
  visibility: 0;
}

input:focus {
  outline: none;
}
