$iPhone_5: 320px;
$iPhone_6: 375px;
$iPhone_6plus: 414px;

@mixin iPhone_5 {
  @media (min-width: #{$iPhone_5}) {
    @content;
  }
}

@mixin iPhone_6 {
  @media (min-width: #{$iPhone_6}) {
    @content;
  }
}

@mixin iPhone_6plus {
  @media (min-width: #{$iPhone_6plus}) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
