// Screen sizes ----------------------------------
$scr-5: 320px;
$scr-6: 375px;
$scr-6plus: 414px;

// Font sizes ----------------------------------
$primary-font: 15px;

// Font colors ----------------------------------
$Color-DeepGray: #919399;
$Color-MainGray: #F6F6F6;
$Color-MainGraphite: #54545A;
$Color-MainGreen: #0EC645;
$Color-MainRed: #FF3366;
$Color-MainBlack: #2E2E33;
$Color-White: #FFF;
