html * {
  -webkit-tap-highlight-color: transparent !important; }

body.index {
  background-image: url(../images/Content@2x.png);
  background-size: cover; }

.BottomSheet {
  background: #fff;
  bottom: 0;
  width: 100%;
  max-height: 100%;
  border-radius: 16px 16px 0 0;
  position: fixed;
  bottom: 0; }

.BottomSheet .Wrapper .Content {
  padding: 32px 16px 64px 16px; }

.BottomSheet h3 {
  font-size: 22px;
  color: #2E2E33;
  line-height: 28px;
  margin: 0 0 16px 0;
  padding: 0; }

.BottomSheet .Descr {
  font-size: 15px;
  color: #919399;
  line-height: 20px;
  margin-bottom: 16px; }

.BottomSheet .BTN_Counter {
  width: 48px;
  height: 48px;
  background: #F6F6F6;
  border-radius: 8px;
  padding: 12px; }

.Button {
  transition: all 100ms;
  -webkit-tap-highlight-color: transparent !important; }

.MainButton {
  background: #0EC645;
  color: #FFF; }

.GrayButton {
  background: #F6F6F6;
  color: #2E2E33; }

.Button48 {
  height: 48px;
  font-weight: 500;
  font-size: 15px;
  line-height: 48px;
  padding: 0 16px;
  border-radius: 8px; }

.Button48.ButtonIcon {
  display: flex;
  align-items: center;
  text-align: center;
  max-width: 48px;
  padding: 0 12px; }

.ButtonDefault > .svg.Color-DeepGray {
  fill: #919399; }

.CartButton {
  display: flex;
  justify-content: space-between; }

.Controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  bottom: 0;
  position: absolute;
  width: 100%;
  background: #fff; }

.Controls .Wrapper {
  padding: 8px 16px 16px 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; }

.Controls .Wrapper .Hider {
  position: absolute;
  top: -40px;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%); }

.Controls .Counter {
  display: flex;
  align-items: center;
  flex-basis: 136px;
  margin-right: 16px;
  font-weight: 500; }

.Controls .Counter #Count {
  width: 32px;
  margin: 4px;
  text-align: center; }

.Buy {
  text-align: center;
  width: 100%; }

.Buy .Text {
  margin: 0 auto; }

/*# sourceMappingURL=styles.css.map */
