@import 'https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700&subset=cyrillic';
.control-normal, .control input, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

@font-face {
  font-family: "BebasBold";
  src: url("../fonts/BebasBold/BebasBold.eot");
  src: url("../fonts/BebasBold/BebasBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasBold/BebasBold.woff") format("woff"), url("../fonts/BebasBold/BebasBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "BebasRegular";
  src: url("../fonts/BebasBold/BebasRegular.eot");
  src: url("../fonts/BebasBold/BebasRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasBold/BebasRegular.woff") format("woff"), url("../fonts/BebasBold/BebasRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
body {
  background-color: #212121;
  font-family: "Roboto", sans-serif; }

.popover {
  width: 400px;
  margin: 30px auto 0;
  position: relative; }

.header {
  background: #ffffff;
  border-radius: 4px 4px 0px 0px;
  height: 60px;
  position: relative; }

.header h1 {
  font-family: "BebasBold", sans-serif;
  color: #000;
  letter-spacing: 0.63px;
  width: 75%;
  margin: 0 auto;
  padding: 18px 0 0;
  text-align: center; }

.header .close {
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  top: 23px;
  right: 21px;
  overflow: hidden; }

.group_light {
  background-color: #FAFAFA;
  padding: 50px 12.5% 20px;
  width: 75%; }

.group_dark {
  background-color: #F2F2F2;
  padding: 50px 12.5% 20px;
  width: 75%; }

.footer {
  min-height: 20px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  padding: 34px 50px 30px; }

.control {
  min-height: 28px;
  margin-bottom: 28px; }

.control .content {
  width: 100%;
  position: relative;
  cursor: pointer; }

.control .content::before {
  content: " ";
  width: 100%;
  height: 1px;
  background: rgba(26, 26, 26, 0.1);
  position: absolute;
  z-index: 1;
  bottom: -1px;
  left: 0;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.control:hover .content::before {
  height: 2px; }

.content::after {
  content: " ";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 2;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.control label {
  font-family: "BebasBold", sans-serif;
  font-size: 12px;
  color: #969899;
  letter-spacing: 0.9px;
  display: block;
  position: relative;
  z-index: 2;
  height: 12px;
  cursor: pointer;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.control.__empty label {
  height: 38px;
  padding-top: 17px;
  margin-bottom: -43px;
  font-size: 20px; }

.control .tip {
  font-size: 12px;
  color: #808080;
  letter-spacing: 0px;
  line-height: 15px;
  margin-top: 4px; }

.__focus .content::after {
  background: #4793F6 !important;
  width: 100%; }

.__focus label {
  color: #4793F6; }

.__error .content::after {
  background: #F64848 !important;
  width: 100%; }

.__error .tip {
  color: #F64848; }

.__disabled label, .__disabled input {
  color: #d4cfcf !important;
  cursor: default; }

.__disabled:hover .content::before {
  background: rgba(26, 26, 26, 0.1) !important;
  height: 1px !important; }

.control_icons {
  position: absolute;
  bottom: 6px;
  right: 0; }

.control_icons .status {
  width: 20px;
  height: 20px;
  overflow: hidden; }

.control_icons .dropdown {
  width: 12px;
  height: 10px;
  overflow: hidden; }

.fader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(50, 55, 58, 0.1);
  z-index: 100; }

.control-normal, .control input, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.control input {
  width: 100%;
  height: 24px;
  display: block;
  border: 0;
  background: none;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.input:focus {
  outline: none; }

.control-normal, .control input, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.value {
  min-height: 28px;
  line-height: 28px; }

.switcher .toggler {
  width: 34px;
  height: 20px;
  color: #000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.26);
  transition: all 350ms cubic-bezier(0.25, 0.1, 0.25, 1); }
.switcher .toggler::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #69D5FF 0%, #279DF4 100%);
  top: 0;
  transform: scale(0);
  border-radius: 10px;
  transition: all 340ms cubic-bezier(0.25, 0.1, 0.25, 1); }
.switcher .toggler::after {
  content: " ";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  top: 3px;
  z-index: 3;
  transition: all 350ms cubic-bezier(0.25, 0.1, 0.25, 1), width 350ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.switcher.__ON .toggler::before {
  margin-left: 0;
  transform: scale(1); }
.switcher.__ON .toggler::after {
  margin-left: 17px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.switcher.__OFF .toggler {
  background-color: #ffffff;
  background-image: none; }
.switcher.__OFF .toggler::after {
  margin-left: 3px;
  background-color: #d1d1d1;
  box-shadow: none; }

.switcher.__loading.__ON .toggler::after {
  width: 18px;
  margin-left: 13px; }

.switcher.__loading.__OFF .toggler::after {
  width: 18px; }

.button {
  font-family: BebasBold;
  font-size: 20px;
  line-height: 20px;
  position: relative;
  letter-spacing: 0.85px;
  display: inline-block;
  text-decoration: none;
  margin-left: 30px;
  transition: all 80ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.button:after {
  content: " ";
  display: block;
  position: absolute;
  bottom: -5px;
  right: 0;
  width: 0;
  height: 3px;
  z-index: 2;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.button:hover:after {
  width: 100%; }

.button.__normal {
  color: #4793F6; }

.button.__normal:after {
  background: #4793F6; }

.button.__attention {
  color: #F64848; }

.button.__attention:after {
  background: #F64848; }

.button:active {
  transform: scale(0.9); }

.footer .button:first-child {
  margin-left: 0; }

.control-normal, .control input, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.spinner {
  width: 20px;
  height: 20px;
  position: relative; }

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4793F6;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out; }

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
.control-normal, .control input, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.select {
  position: relative; }

.select-list {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 6px 0px rgba(50, 55, 58, 0.08);
  border-radius: 8px;
  width: 100%; }

/*# sourceMappingURL=styles.css.map */
