.button
  font-family: BebasBold
  font-size: $f-big
  line-height: 20px
  position: relative
  letter-spacing: 0.85px
  display: inline-block
  text-decoration: none
  margin-left: 30px
  transition: $transition-fast

.button:after
  content: " "
  display: block
  position: absolute
  bottom: -5px
  right: 0
  width: 0
  height: 3px
  z-index: 2
  transition: $transition-normal

.button:hover:after
  width: 100%

.button.__normal
  color: $c-blue

.button.__normal:after
  background: $c-blue

.button.__attention
  color: $c-red

.button.__attention:after
  background: $c-red

.button:active
  transform: scale(.9)

.footer .button:first-child
  margin-left: 0
