@import '../variables'


.control input
  width: 100%
  height: 24px
  display: block
  border: 0
  background: none
  transition: $transition-normal
  @extend .control-normal

.input:focus
  outline: none
