@import '../variables'

.select
  position: relative

.select-list
  position: absolute
  top: 0
  left: 0
  z-index: 100
  background: $c-white
  border: 1px solid rgba(0,0,0,0.10)
  box-shadow: 0px 4px 6px 0px rgba(50,55,58,0.08)
  border-radius: 8px
  width: 100%
