@import '../variables'

.value
  min-height: 28px
  line-height: 28px
  @extend .control-normal

.switcher
  .toggler
    width: 34px
    height: 20px
    color: $c-black
    border-radius: 10px
    position: relative
    overflow: hidden
    box-shadow: inset 0 0 2px rgba(0,0,0,0.26)
    transition: all 350ms $bezier-default
  .toggler::before
    content: " "
    display: block
    position: absolute
    width: 100%
    height: 100%
    background: linear-gradient(0deg, #69D5FF 0%, #279DF4 100%)
    top: 0
    transform: scale(0)
    border-radius: 10px
    transition: all 340ms $bezier-default,
  .toggler::after
    content: " "
    display: block
    position: absolute
    width: 14px
    height: 14px
    border-radius: 9px
    top: 3px
    z-index: 3
    transition: all 350ms $bezier-default, width 350ms $bezier-default

.switcher.__ON
  .toggler::before
    margin-left: 0
    transform: scale(1)
  .toggler::after
    margin-left: 17px
    background-color: $c-white
    box-shadow: 0 1px 1px rgba(0,0,0,0.3)

.switcher.__OFF
  .toggler
    background-color: $c-white
    background-image: none
  .toggler::after
    margin-left: 3px
    background-color: hsl(0, 0%, 82%)
    box-shadow: none

.switcher.__loading.__ON
  .toggler::after
    width: 18px
    margin-left: 13px
.switcher.__loading.__OFF
  .toggler::after
    width: 18px
