.control-normal, .control input {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.control input {
  width: 100%;
  height: 24px;
  display: block;
  border: 0;
  background: none;
  transition: all 150ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.input:focus {
  outline: none; }

/*# sourceMappingURL=input.css.map */
