.control-normal, .value {
  color: #000;
  letter-spacing: -0.11px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding: 0; }

.value {
  min-height: 28px;
  line-height: 28px; }

.switcher .toggler {
  width: 34px;
  height: 20px;
  color: #000;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.26);
  transition: all 350ms cubic-bezier(0.25, 0.1, 0.25, 1); }
.switcher .toggler::before {
  content: " ";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #69D5FF 0%, #279DF4 100%);
  top: 0;
  transform: scale(0);
  border-radius: 10px;
  transition: all 340ms cubic-bezier(0.25, 0.1, 0.25, 1); }
.switcher .toggler::after {
  content: " ";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  top: 3px;
  z-index: 3;
  transition: all 350ms cubic-bezier(0.25, 0.1, 0.25, 1), width 350ms cubic-bezier(0.25, 0.1, 0.25, 1); }

.switcher.__ON .toggler::before {
  margin-left: 0;
  transform: scale(1); }
.switcher.__ON .toggler::after {
  margin-left: 17px;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.switcher.__OFF .toggler {
  background-color: #ffffff;
  background-image: none; }
.switcher.__OFF .toggler::after {
  margin-left: 3px;
  background-color: #d1d1d1;
  box-shadow: none; }

.switcher.__loading.__ON .toggler::after {
  width: 18px;
  margin-left: 13px; }

.switcher.__loading.__OFF .toggler::after {
  width: 18px; }

/*# sourceMappingURL=switchers.css.map */
